<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <h1><legend>Bienvenido</legend></h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <div class="field">
                <p class="text-warning"><%= f.label :email %></p><br />
                <%= f.email_field :email, autofocus: true,
                                  :class => 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <div class="field">
                <p class="text-warning"><%= f.label :password %></p><br />
                <%= f.password_field :password, autocomplete: "off",
                                     :class => 'form-control' %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Ingresar" , :class => 'btn btn-primary' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>